body {
  background-color: rgb(252, 195, 50);
}

h1 {
  margin: 2rem 0rem 0rem 0rem;
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-decoration: underline;
  font-size: 2.4rem;
  color: firebrick;
}

#cours1 {
  margin: auto;
  text-align: center;
  font-size: 2rem;
}

#horo {
  margin: auto;
  text-align: center;
  font-size: 2rem;
}

#bitcoin {
  margin: -6rem 0rem 0rem 45rem;
}
